.inner{
    z-index: 9999;
}
.backImage {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    z-index: -999;
}
.frontImage::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(291.63deg, rgba(17, 42, 106, 0.4704) -3.7%, rgba(23, 45, 101, 0.825263) 21.63%, rgba(2, 24, 81, 0.84) 57.09%);
    mix-blend-mode: normal;
    backdrop-filter: blur(4px);
    transition: all 1s;
}

.hiddenHome > .frontImage::before{
    height: 0;
}
.hiddenHome > .frontImage >.backImage{
    opacity: 0;
}
.hiddenHome .inner, .hiddenHome .content{
    display: none;
}

.major{
    position: absolute;
    width: 100%;
    height: auto;
    left: 45%;
    transform: translateX(-25%);
    top: 300px;
    font-family: 'Estedad-VF';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 50px;
    overflow: visible;
    color: #FFFFFF;
    z-index: 99;
}
.major h2{
    font-size: 0.7em;
}
.major h2::after{
    position: absolute;
    content: "";
    width: 1109px;
    height: 0px;
    left: 0;
    top: 110px;
    border-bottom: 5px solid #FFFFFF;
}
.content{
    position: absolute;
    width: 100%;
    left: 45%;
    transform: translateX(-25%);
    height: auto;
    top: 470px;
    font-family: 'Estedad-VF';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    display: flex;
    color: #FFFFFF;
    z-index: 99;
}
.content .sub{
  width: 40%;
}