@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600&display=swap');

.post{
  position: absolute;
  top: 0;
  background-image: url(../../../../public/images/postit.png);
  width: 11vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-size: contain;
}
.close{
  position: relative;
  top: 10%;
  left: 70%;
  cursor: pointer;
}
.title{
  position: relative;
  top: 35%;
  left: 50%;
  width: 95%;
  transform: translateX(-54%);
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
@media screen and (max-width : 640px){
  .post{
    width: 35vw;
    height: 35vw;
  }
  .title{
    top: 15%;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0px 0px 0px 10px;
  }
}